---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>


  <div class="sketchfab-embed-wrapper"> <iframe title="Woodpecker (Non-Commercial)" frameborder="0" allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share src="https://sketchfab.com/models/b328bb7613a54d23b1dd371791610613/embed"> </iframe> <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;"> <a href="https://sketchfab.com/3d-models/woodpecker-non-commercial-b328bb7613a54d23b1dd371791610613?utm_medium=embed&utm_campaign=share-popup&utm_content=b328bb7613a54d23b1dd371791610613" target="_blank" style="font-weight: bold; color: #1CAAD9;"> Woodpecker (Non-Commercial) </a> by <a href="https://sketchfab.com/Nyilonelycompany?utm_medium=embed&utm_campaign=share-popup&utm_content=b328bb7613a54d23b1dd371791610613" target="_blank" style="font-weight: bold; color: #1CAAD9;"> Nyilonelycompany </a> on <a href="https://sketchfab.com?utm_medium=embed&utm_campaign=share-popup&utm_content=b328bb7613a54d23b1dd371791610613" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a></p></div>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
